{% extends "layout.html" %}
{% block content %}
    <div class="container mt-4">
        <div class="row-6 d-flex justify-content-center">
            <div class="col-6">
                <h2 class="alert alert-primary text-center">username = {{current_user.username}}</h2>
                <h2 class="alert alert-primary text-center">email = {{current_user.email}}</h2>
                <h2 class="alert alert-primary text-center">phone number = {{current_user.phonenumber}}</h2>
                <a class="btn btn-danger" href="{{url_for('logout')}}">logout</a>
            </div>
        </div>
    </div>
    
{% endblock %}